
/* scrollbar table
   ========================================================================== */
.scrollbar.table {
    position: relative;
    overflow: auto;
}

.content .box.style .wrap-top {
    padding: 25px 25px 0 25px;
}

.content .box.style .wrap-middle {
    padding: 0 25px;
}

.content .box.style .wrap-bootom {
    padding: 0 25px 25px 25px;
}

.ps__rail-x {
    margin: 0 2px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    height: 7px;
}

.ps__thumb-x {
    background: #e0e0e0;
    height: 7px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background: #e0e0e0;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-x.ps--clicking {
    background: none;
}
