
/*
    light theme sidebar menu
*/
.nav .click { color: white; }
.nav .click .menu { color: #6f788d; }
.nav .click .menu:hover {
    background-color: #404757;
               color: #e6e9ed;
}

.sidebar .title {
    background-color: #333c48;
         font-weight: 600;
               color: #e6e9ed;
}

.sidebar ul.menu { background-color: #262a34; }
.sidebar ul.menu li { color: #5e6776; }
.sidebar ul.menu li a { color: #7d899c; }
.sidebar ul.menu li a:hover {
    background-color: #2e333e;
         font-weight: 600;
               color: #e95656;
}

.sidebar ul.menu li a.current {
    border-right: 2px solid #e95656;
     font-weight: 600;
           color: #e6e9ed;
}

/*
    notifications
*/
.sidebar span.notifi {
    color: #e95656;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background-color: #262a34;
    }

}

/*
    simplebar
*/
.simplebar-scrollbar {
    background: #596072;
         width: 5px;
}
