
/*
    dark theme sidebar menu
*/
.nav .click { color: #717377; }
.nav .click .menu:hover { background-color: #272a30; }

.sidebar .title {
    background-color: #393c45;
         font-weight: 500;
               color: white;
}

.sidebar ul.menu { background-color: #2b2e35; }
.sidebar ul.menu li { color: #646b7c; }
.sidebar ul.menu li a { color: #a1abc2; }
.sidebar ul.menu li a:hover {
    background-color: #393c45;
               color: #a1abc2;
}

.sidebar ul.menu li a.current {
    color: white;
}

/*
    notifications
*/
.sidebar span.notifi {
    background-color: #3bb9fe;
	       color: #2b2e35;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background-color: #2b2e35;
    }

}

/*
    simplebar
*/
.simplebar-scrollbar {
    background: #646b7c;
}

/*
    nanobar
*/
.bar {
    transition: height .3s;
    background: #393c45;
        height: 100%;
         width: 0;
}
