
/*
    dark style sidebar menu
*/
.sidebar ul.menu { background-color: #222223; }
.sidebar ul.menu li { color: #909295; }
.sidebar ul.menu li a { color: #626466; }

.sidebar ul.menu li a:hover {
    background-color: #353637;
               color: #e7ebef;
}

.sidebar ul.menu li a.current {
    color: #0094e3;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background-color: #222223;
    }

}
