
/*
    dropdown menu
*/
.dropdown {
    margin-left: 12px;
     margin-top: 9px;
       position: relative;
}

.dropdown p { margin: 0; }
.dropdown .employ-toggle { text-decoration: none; }
.dropdown .employ-toggle.click {
    border-radius: 30px;
        font-size: 14px;
          padding: 2px 12px;
            color: #7b7d7e;
}

.dropdown .employ-toggle.click:hover {
    background-color: #e8e8e8;
}

.dropdown ul.expand-dropdown {
    list-style: none;
    margin-top: 19px;
      position: absolute;
       display: none;
         right: 0;
	   top: 100%;
}

.dropdown ul.expand-dropdown li {
    min-width: 180px;
       margin: 0;
}

.dropdown ul.expand-dropdown li a {
    background-color: #f4f4f4;
     text-decoration: none;
             display: block;
             padding: 5px 5px 5px 15px;
	       color: #7b7d7e;
}

.dropdown ul.expand-dropdown li a i.fa {
    padding-right: 12px;
}

.dropdown ul.expand-dropdown li a:hover {
    background-color: #e8e8e8;
}
