
/*
    dropdown menu
*/
.dropdown {
    margin-left: 12px;
     margin-top: 8px;
       position: relative;
}

.dropdown p { margin: 0; }
.dropdown .employ-toggle { text-decoration: none; }
.dropdown .employ-toggle.click {
    border-radius: 30px;
        font-size: 14px;
          padding: 2px 12px;
            color: #858585;
}

.dropdown .employ-toggle.click:hover {
    background-color: #f4f4f4;
}

.dropdown ul.expand-dropdown {
    border-bottom: 1px solid #f4f4f4;
     border-right: 1px solid #f4f4f4;
      border-left: 1px solid #f4f4f4;
       list-style: none;
       margin-top: 19px;
         position: absolute;
          display: none;
            right: 0;
	      top: 100%;
}

.dropdown ul.expand-dropdown li {
    min-width: 110px;
       margin: 0;
}

.dropdown .bottom {
    border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px;
}

.dropdown ul.expand-dropdown li a {
    background-color: #fefefe;
     text-decoration: none;
             display: block;
             padding: 5px 5px 5px 15px;
	       color: #858585;
}

.dropdown ul.expand-dropdown li a i.fa {
    padding-right: 12px;
}

.dropdown ul.expand-dropdown li a:hover {
    background-color: #f9f9f9;
}
