
/*
    modal box
*/
.modal {
      background-color: rgba(0,0,0,0.8);
        pointer-events: none;
            transition: opacity 100ms ease-in;
	      position: fixed;
	       z-index: 99999;
	       opacity: 0;
	        bottom: 0;
		 right: 0;
		  left: 0;
		   top: 0;
}

.modal:target {
    pointer-events: auto;
           opacity: 1;
}

.modal > div {
    background-color: white;
       border-radius: 6px;
            position: relative;
	     padding: 5px 20px;
	      margin: 12% auto;
	       width: 400px;
}

.modal .close {
    background-color: #444;
     text-decoration: none;
       border-radius: 30px;
           font-size: 18px;
	    position: absolute;
	     padding: 3px 10px;
	       color: white;
	       right: -12px;
	         top: -10px;
}

.modal .close:hover {
    background-color: #585858;
}
