
/*
    import css styles
*/
@import url(css.ui.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(style.responsive.css);
@import url(style.dropdown.css);
@import url(style.dashboard.css);

/*
    elements
*/
body {
    background-color: #f4f4f4;
         font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

.nanobar {
    z-index: 9999;
     height: 2px;
      width: 100%;
        top: 0
}

.bar {
    transition: height .3s;
    background: #2976c6;
        height: 100%;
         width: 0;
}
