
/*
    responsive menu
*/
.nav .click {
    cursor: pointer;
    margin: 5px 20px 0 0;
     float: right;
}

.nav .click .menu {
    border-radius: 30px;
        font-size: 14px;
          padding: 7px 8px;
}

.nav .responsive { display: none; }
.nav .expand-responsive { display: block !important; }

/*
    sidebar
*/
.sidebar .title {
    font-size: 1.125em;
      padding: 5px 20px 0 25px;
       height: 42px;
}

/*
    notifications
*/
.sidebar span.notifi {
    border-radius: 3px;
      margin-left: 30px;
      font-weight: 600;
	  padding: 0 5px 2px;
}

.sidebar ul.menu {
    list-style: none;
        height: 300px;
        margin: 0;
}

.sidebar ul.menu ul {
    list-style: none;
        margin: 0;
}

.sidebar ul.menu li {
    line-height: 33px;
     margin-top: 15px;
        padding: 0;
}

.sidebar ul.menu li ul li {
    padding-top: 0;
      font-size: 1em;
         margin: 0;
}

.sidebar ul.menu li span span {
    padding: 0 15px 0 25px;
    display: block;
}

.sidebar ul.menu li .icon {
    margin-right: 10px;
       font-size: 12px;
        position: relative;
	     top: -2px;
}

.sidebar ul.menu li a {
    text-decoration: none;
       padding-left: 25px;
            display: block;
}

@media only screen and (min-width: 768px) {

    .sidebar ul.menu {
	height: 660px;
    }

    .nav .click { visibility: hidden; }
    .nav .responsive { display: block; }

    .sidebar {
	position: fixed;
	  bottom: 0;
	   width: 230px;
	     top: 0;
    }

    .content-wrapper {
	margin-left: 230px;
    }

}
