
/*
    dark theme sidebar menu
*/
.nav .click { 
    transition: all 0.1s ease-in-out;
         color: #4a5160;
}

.nav .click:hover {
    background-color: #363c49;
               color: #eaedf1;
}

.sidebar .title {
    background-color: #1d222c;
       border-bottom: 1px #2e3543 solid;
         font-weight: 600;
               color: white;
}

.sidebar ul.menu { background-color: #1d222c; }
.sidebar ul.menu li { color: #b5bac3; }
.sidebar ul.menu li ul li a {
    border: 1px solid transparent;
    border-radius: 3px;
            color: #eaedf1;
}

.sidebar ul.menu li ul li a:hover {
    background-color: #363c49;

}

.sidebar ul.menu li ul li a.current {
    background-color: #363c49;
}

.sidebar ul.menu li ul li.parent a.current {
    background-color: #363c49;
}

.sidebar ul.menu li ul li.parent .submenu a.current {
    background-color: #363c49;
}

.sidebar ul.menu li ul li.parent:before { color: #6b7382; }
.sidebar ul.menu li ul li.parent.active:before { color: #b9b9b9; }
.sidebar ul.menu li ul li ul {
     border-left: 1px solid #363c49;
}

/*
    notifications
*/
.sidebar span.notifi {
    background-color: #fd3f5b;
               color: white;
}

.sidebar a.current span.notifi {
    background-color: #fd3f5b;
               color: white;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background-color: #1d222c;
    }

}

/*
    perfect scrollbar
*/
.ps__thumb-y {
    background-color: #515867;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: #515867;
}
