
/*
    tables
*/
table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 5px 8px;
}

table td {
    color: #575757;
}

table th:first-child,
table td:first-child {
    padding-left: 8px;
}

/*
    default
*/
table tr.default th {
    border: none;
}

table tr.default td {
    border: none;
}

table tr.default:nth-child(even) {
    background-color: #f2f2f2;
}

table tr.default:nth-child(odd)  {
    background-color: white;
}

/*
    primary
*/
table tr.primary th {
    border: none;
}

table tr.primary td {
    border: none;
     color: #27667b;
}

table tr.primary:nth-child(even) td {
    background-color: #c1edfb;
}

table tr.primary:nth-child(odd) td  {
    background-color: white;
}

/*
    success
*/
table tr.success th {
    border: none;
}

table tr.success td {
    border: none;
     color: #277b35;
}

table tr.success:nth-child(even) td {
    background-color: #bdf3c4;
}

table tr.success:nth-child(odd) td  {
    background-color: white;
}

/*
    warning
*/
table tr.warning th {
    border: none;
}

table tr.warning td {
    border: none;
     color: #7b2727;
}

table tr.warning:nth-child(even) td {
    background-color: #f5b9b9;
}

table tr.warning:nth-child(odd) td  {
    background-color: white;
}
