
/*
    dashboard
*/
.header {
    background-color: white;
             display: none;
	     padding: 15px 20px;
	      height: 69px;
}

/*
    dashboard header menu
*/
.header ul.header-menu {
    list-style: none;
        margin: 3px 0 0 15px;
}

.header ul.header-menu li {
    display: inline-block;
     margin: 0 40px 0 0;
}

.header ul.header-menu li a i.fa {
    font-size: 1.5em;
     position: relative;
          top: 2px;
}

.header ul.header-menu li a span {
    margin-left: 15px;
}

.header ul.header-menu li a span span.notifications {
    background-color: #ff7815;
       border-radius: 30px;
         margin-left: 15px;
	   font-size: 0.75em;
             padding: 1px 6px 2px 6px;
	       color: white;
}

.header ul.header-menu li a {
    text-decoration: none;
              color: #858585;
}

.header ul.header-menu li a:hover,
.header ul.header-menu li a.current {
    color: #353637;
}

/*
    user panel
*/
.user.panel {
    display: none;
}

.logged.in ul {
    list-style: none;
        margin: 0;
}

.logged.in ul li.user {
    margin-right: 20px;
      margin-top: 8px;
           color: #858585;
}

.logged.in ul li.gravatar img {
    max-width: 40px;
}

/*
    content
*/
.content {
    padding: 15px 25px;
}

@media only screen and (min-width: 768px) {

    .header {
	display: block;
    }

    .dashboard.menu {
	display: none;
    }
    
    .content {
	padding: 15px 35px;
    }

}

@media only screen and (min-width: 1024px) {
    
    .user.panel {
	display: block;
    }
    
    .logged.in ul li.user {
	display: none;
    }

}

@media only screen and (min-width: 1170px) {

    .logged.in ul li.user {
	display: block;
    }

}
