
/*
    light theme sidebar menu
*/
.nav .click {
    transition: all 0.1s ease-in-out;
         color: #dcdcdc;
}

.nav .click:hover {
    background-color: #f2f2f2;
	       color: #5c5c5c;
}

.sidebar .title {
    background-color: white;
       border-bottom: 1px #f4f4f4 solid;
         font-weight: 600;
	       color: #494949;
}

.sidebar ul.menu { background-color: white; }
.sidebar ul.menu li { color: #8a8a8a; }
.sidebar ul.menu li ul li a {
    border: 1px solid transparent;
    border-radius: 3px;
            color: #494949;
}

.sidebar ul.menu li ul li a:hover {
    background-color: #f4f4f4;

}

.sidebar ul.menu li ul li a.current {
    background-color: #f4f4f4;
}

.sidebar ul.menu li ul li.parent a.current {
    background-color: #f4f4f4;
}

.sidebar ul.menu li ul li.parent .submenu a.current {
    background-color: #f4f4f4;
}

.sidebar ul.menu li ul li.parent:before { color: #b9b9b9; }
.sidebar ul.menu li ul li.parent.active:before { color: #494949; }
.sidebar ul.menu li ul li ul {
     border-left: 1px solid #ebebeb;
}

/*
    notifications
*/
.sidebar span.notifi {
    background-color: #fd3f5b;
               color: white;
}

.sidebar a.current span.notifi {
    background-color: white;
               color: #494949;
}

@media only screen and (min-width: 768px) {

    .sidebar {
	background-color: white;
    }

}

/*
    perfect scrollbar
*/
.ps__thumb-y {
    background-color: #d3d3d3;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: #d3d3d3;
}
